<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gurpreetsk.me.motivationdaily">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.GridActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.QuoteListActivity"
            android:parentActivityName=".activities.GridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GridActivity" />
        </activity>
        <activity
            android:name=".activities.QuoteViewActivity"
            android:parentActivityName=".activities.QuoteListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.QuoteListActivity" />
        </activity>

        <provider
            android:name=".data.QuotesProvider"
            android:authorities="gurpreetsk.me.motivationdaily"
            android:exported="false" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:parentActivityName=".activities.GridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GridActivity" />
        </activity>
        w
        <activity
            android:name=".activities.AuthorsActivity"
            android:parentActivityName=".activities.GridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GridActivity" />
        </activity>
        <activity android:name=".activities.TagsActivity" />

        <service android:name=".service.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bookmarked" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <receiver android:name=".widget.QuoteWidget">
                        <intent-filter>
                            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                        </intent-filter>
            
                        <meta-data
                            android:name="android.appwidget.provider"
                            android:resource="@xml/quote_widget_info" />
                    </receiver>
        
                <service android:name=".widget.QuoteService"
                    android:permission="android.permission.BIND_REMOTEVIEWS"
                    android:exported="false" />
        
    </application>

</manifest>